<%= simple_form_for(@order_of_service) do |f| %>
<div class="row-fluid">
  <div class="span10">
    <div class="span8"><%= f.input :number, as: :string, input_html: { class: 'span4',  maxlength: 8 } %></div>
  </div>
</div>
<div class="row-fluid">
  <div class="span10">
    <div class="span4">
      <%= f.input :client_id, as: :hidden %>
      <%= f.input :client_name, :url => autocomplete_client_name_clients_path, :as => :autocomplete , :id_element => '#order_of_service_client_id', :placeholder => "Digite o nome do Cliente", :multiple => false, input_html: {class:'span7'} %>

    </div>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit, :class => "btn btn-success" %>
  <%= link_to 'Voltar', order_of_services_path, :class => "btn"  %>
</div>
<% end %>
