<p id="notice"><%= notice %></p>

<p>
	<%= l @order_of_service.created_at %>
</p>
<p>
  <strong>Número:</strong>
  <%= @order_of_service.number %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @order_of_service.client %>
</p>
<p>
  <strong>Consultor:</strong>
  <%= @order_of_service.technical_consultant %>
</p>

<%= link_to 'Edit', edit_order_of_service_path(@order_of_service) %> |
<%= link_to 'Back', order_of_services_path %>
