<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @schedule.vehicle %>
</p>

<p>
  <strong>Techinical consultant:</strong>
  <%= @schedule.techinical_consultant %>
</p>

<p>
  <strong>Date schedule:</strong>
  <%= @schedule.date_schedule %>
</p>

<p>
  <strong>Hour schedule:</strong>
  <%= @schedule.hour_schedule %>
</p>

<p>
  <strong>Description service:</strong>
  <%= @schedule.description_service %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
