<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @client.cel_phone %>
</p>
<h4>Veículos</h4>

<%= render 'vehicles' %>

<%= link_to 'Editar', edit_client_path(@client),class: :btn %>
<%= link_to 'Listagem de Clientes', clients_path ,class: :btn%>
