<meta http-equiv="refresh" content="5;URL=/monitor/index">
<h1 class="text-info text-center">Controle de Processo de Trabalho</h1>
 <table class="table">
  <thead>
    <tr>
      <th>O.S</th>
      <th>Cliente</th>
      <th>Consultor</th>
      <th>Produtivo</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @order_of_services.each do |order_of_service| %>
      <tr class="">
        <td><%= order_of_service.number %></td>
        <td><%= order_of_service.client %></td>
        <td><%= order_of_service.technical_consultant %></td>
        <td><%= order_of_service.productive %></td>
        <td><%= order_of_service.status_os_humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

