<table class="table">
  <td><h3>Listagem de Produtivos</h3></td>
  <td width='10%'>
    <%= link_to "Novo Produtivo", new_productive_path , class: "btn btn-success" %>    
  </td>
</table>
<table class="table">
  <thead>
    <tr>
      <th width= "5%">Código</th>
      <th width= "25%">Nome</th>
      <th>Função</th>      
    </tr>
  </thead>
<tbody>
    <% @productives.each do |productive| %>
      <tr>
        <td><%= productive.code %></td>
        <td><%= productive.name %></td>      
        <td><%= productive.function %></td>
        <td>
          <div class="btn-group">
             <%= link_to "Editar", edit_productive_path(productive), :class => "btn btn-primary", :title => "Editar #{productive}" %>
             <%= link_to 'Deletar', productive, method: :delete, data: { confirm: 'Confirma exclusão?'}, :class => "btn btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
