
<div class="sidebar-nav">
  <ul class="nav nav-tabs nav-stacked">
    <li class="nav-header"></li>
    <li>
      <%= link_to technical_consultants_path, role: 'button' do %>
        Consultor Técnico
      <% end %>
    </li>
    <li>
      <%= link_to clients_path, role: 'button' do %>
				Clientes
      <% end %>
    </li>
    <li>
      <%= link_to productives_path, role: 'button' do %>
				Produtivos
      <% end %>
    </li>

    <li>
      <%= link_to order_of_services_path, role: 'button' do %>
        Ordem de serviço
      <% end %>
    </li>
    <li>
      <%= link_to monitor_index_path(status: ""), role: 'button' do %>
        Monitor
      <% end %>
    </li>

  </ul>
</div>
