<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEMINAS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= javascript_include_tag :application %>
  </head>
  <body>
    <%= render 'layouts/header'%>
    <div class="container-fluid">
      <div class="row-fluid">
				 <% unless params['controller'] == 'monitor'%>
         <div class="span2">
             <%= render 'layouts/menus' %>
         </div>
				<% end %>
				 
											
        <div class="<% if params['controller'] == 'monitor'%>span20<%else%>span9<%end%>">
					<%= render 'layouts/messages' %>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
      <footer>
        <hr/>
        <p></p>
      </footer>
    </div>
  </body>
</html>
